<section class="row">
  {{!-- {{#if message}}
  <p class="alert">{{message}}</p>
  {{/if}} --}}

  <h1> Hello I'm at the new songs page where u at?</h1>
  <form action="/song" method="POST" class="song-form">
    <p class="input-field">
      <textarea name="song[content]" cols="30" rows="10" placeholder="Song"></textarea>
    </p>
    <p class="input-field">
      <input type="submit" value="Song" class="btn waves-effect waves-light">
    </p>
  </form>
</section>