<h1> Hello I'm at the update songs page where u at?</h1>
<p class="card">
  {{> 'playlist'}}
</p>

{{#if songs.length}}
  {{#each songs}}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          {{ content }}
        </span>
      </div>
      <div class="card-action">
        <a href="/user/{{ author.id }}" class="">{{ author.local.email }}</a>
        <span class="upload__date">{{ createdAt }}</span>
      </div>
    </div>
  {{/each}}
{{/if}}