<h1> Hello I'm at the update songs page where u at?</h1>
<p class="card">
  {{> 'songs'}}
</p> 
{{#if songs.length}}
  {{#each song}}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          {{ content }}
        </span>
      </div>
      <div class="card-action">
        <a href="User/{{ artist.id }}" class="">{{ artist.local.email }}</a>
        <span class="upload__date">{{ createdAt }}</span>
      </div>
    </div>
  {{/each}}
{{/if}}