<h1> Hello I'm at the new artist page where u at?</h1>
<section class="form-container">
  <h4>New Artist</h4>
  <form action="/artist" method="post" class="artist-form">
    <p class="input-field">
      <textarea name="link[content]" cols="30" rows="10" placeholder="Link-Url"></textarea>
    </p>
    <p class="input-field">
      <input type="submit" value="Artist" class="btn waves-effect waves-light">
    </p>
  </form>
</section>